<html>
<head>
	    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">

</head>
<body>
	<div class="container">
		<div class="col-lg-12 text-center">
	<h1>Danke!</h1>
	<h1><span class="glyphicon glyphicon-heart" /></h1>
	<p class="text-muted">Bitte etwas Geduld. Bis der Termin auf der Website erscheint kann es ein wenig dauern.</p>
</div>
</div>
</body>
</html>
